body, html {
  margin: 0;
  padding: 0;
  font-family: 'Arial', sans-serif;
}

/* video styling */
.landing-container {
  position: relative;
  height: 100vh;
  width: 100%;
  overflow: hidden;
}

.video-background {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  min-width: 100%;
  min-height: 100%;
  z-index: -1; 
}

video {
  width: 100%;
  height: 100%;
  object-fit: cover; 
}

.content {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  text-align: center;
}

/*landingspage text styling*/
.landing-content-wrapper {
  position: absolute;
  top: 50%;
  margin-left: 50%;
  transform: translateY(-50%);
}

/* styling & animation for h1 */
.content h1 {
  overflow: hidden; 
  border-right: .15em solid #ff4655; 
  color: #fff;
  white-space: nowrap; 
  width: 0; 
  animation: typing 3s steps(30, end) forwards; 
}

@keyframes typing {
  from { width: 0; }
  to { width: 100%; }
}

/* styling & animation for p */
.content p {
  color: #fff;
  opacity: 0;
  animation: fade-in 3s forwards;
  animation-delay: 3s;
}

@keyframes fade-in {
  from { opacity: 0; }
  to { opacity: 1; }
}

/* call to action button styling */
.explore-button {
  background-color: #ff4655;
  color: #fff;
  border: 0.5px solid #fff;
  padding: 14px 28px;
  font-size: 20px;
  cursor: pointer;
  border-radius: 5px;
  transition: background-color 0.3s; 
}

.explore-button:hover {
  background-color: #0d2d4f; 
}

/*data graph styling*/
#visualization {
  flex-direction: column; 
  background: rgb(247,247,247);
  background: linear-gradient(15deg, rgba(247,247,247,1) 35%, rgba(255,68,84,1) 100%);
  padding-top: 20px; 
  margin-top: 1px;
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
}

/*filter buttons styling*/
#filters {
  text-align: center; 
}

#filters button {
  color: white;
  padding: 5px 10px;
  margin: 0 5px;
  border: 1px solid #0d2d4f;
  border-radius: 5px;
  cursor: pointer;
  font-size: 14px;
}

#filters button:first-child {
  background-color: #9957bc;
}
#filters button:nth-child(2) {
  background-color: #364966;
}
#filters button:nth-child(3) {
  background-color: #042e27;
}
#filters button:nth-child(4) {
  background-color: #dc3d4b;
}
#filters button:last-child {
  background-color: #b78460;
}

#filters button:hover {
  background-color: #ccc;
  color: black;
}

/*legend styling*/
#legend {
  position: absolute;
  top: 20px;
  right: 20px;
  padding: 10px;
  background: #fff;
  border-radius: 5px;
  border: 1px solid #ccc;
  box-shadow: 0px 0px 10px 0px rgba(0,0,0,0.25);
}

#legend p {
  margin-top: 0px;
  font-weight: bold;
}

.legend-color {
  display: inline-block;
  width: 15px;
  height: 15px;
  margin-right: 5px;
  border: 1px solid #777;
  vertical-align: middle;
}

.deulist {
  background-color: #364966;
}

.sentinel {
  background-color: #042e27;
}

.controller {
  background-color: #dc3d4b;
}

.initiator {
  background-color: #b78460;
}

/*tooltip styling*/
#tooltip {
  position: absolute;
  background-color: white;
  padding: 10px;
  border-radius: 5px;
  border: 1px solid #ccc;
  box-shadow: 0px 0px 10px 0px rgba(0,0,0,0.25);
  pointer-events: none;
  transition: opacity 0.3s;
}